#include <physical_layouts.dtsi>

/ {
    physical_layout_glitched_38: physical_layout_glitched_38 {
        compatible = "zmk,physical-layout";
        display-name = "Glitched 38";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   95       0     0    95>
            , <&key_physical_attrs 100 100  100   32       0   100    32>
            , <&key_physical_attrs 100 100  200    0       0   200     0>
            , <&key_physical_attrs 100 100  300   28       0   300    28>
            , <&key_physical_attrs 100 100  400   42       0   400    42>
            , <&key_physical_attrs 100 100  825   42       0   825    42>
            , <&key_physical_attrs 100 100  925   28       0   925    28>
            , <&key_physical_attrs 100 100 1025    0       0  1025     0>
            , <&key_physical_attrs 100 100 1125   32       0  1125    32>
            , <&key_physical_attrs 100 100 1225   95       0  1225    95>
            , <&key_physical_attrs 100 100    0  195       0     0   195>
            , <&key_physical_attrs 100 100  100  132       0   100   132>
            , <&key_physical_attrs 100 100  200  100       0   200   100>
            , <&key_physical_attrs 100 100  300  129       0   300   129>
            , <&key_physical_attrs 100 100  400  142       0   400   142>
            , <&key_physical_attrs 100 100  825  142       0   825   142>
            , <&key_physical_attrs 100 100  925  129       0   925   129>
            , <&key_physical_attrs 100 100 1025  100       0  1025   100>
            , <&key_physical_attrs 100 100 1125  132       0  1125   132>
            , <&key_physical_attrs 100 100 1225  195       0  1225   195>
            , <&key_physical_attrs 100 100    0  295       0     0   295>
            , <&key_physical_attrs 100 100  100  231       0   100   231>
            , <&key_physical_attrs 100 100  200  200       0   200   200>
            , <&key_physical_attrs 100 100  300  229       0   300   229>
            , <&key_physical_attrs 100 100  400  242       0   400   242>
            , <&key_physical_attrs 100 100  825  242       0   825   242>
            , <&key_physical_attrs 100 100  925  229       0   925   229>
            , <&key_physical_attrs 100 100 1025  200       0  1025   200>
            , <&key_physical_attrs 100 100 1125  231       0  1125   231>
            , <&key_physical_attrs 100 100 1225  295       0  1225   295>
            , <&key_physical_attrs 100 100  205  350       0   305   455>
            , <&key_physical_attrs 100 100  305  350       0   305   455>
            , <&key_physical_attrs 100 100  725  350       0   845   455>
            , <&key_physical_attrs 100 100  825  350       0   845   455>
            , <&key_physical_attrs 100 100  925  350       0   925   350>
            , <&key_physical_attrs 100 100 1025  350       0  1025   350>
            , <&key_physical_attrs 100 100  400  350       0   400   350>
            , <&key_physical_attrs 100 100  500  350       0   500   350>
            ;
    };
};
